.footer {
    background-image: url('../../../assets/images/wallpaper.jpg'); 
    background-size: cover;
    background-position: center;
    color: white;
    padding: 10px 0; 
    font-size: 18px;
    position: relative;
    z-index: 1;
}

.mask-custom {
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, .15);
}

.footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: -1; 
}

.footer-link {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 16px;
}

.footer-link i {
    margin-right: 5px;
}

.footer-link:hover {
    color: #5e9693;
}

.footer p {
    margin: 0;
    font-size: 12px;
}

.footer .list-unstyled {
    padding-left: 0;
    margin-bottom: 5px;
}

.footer .list-unstyled li {
    margin-bottom: 5px;
}

.social-icons a {
    font-size: 16px;
    margin: 0 8px;
    color: white;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #5e9693;
}

.container {
    max-width: 1000px;
}

@media (max-width: 768px) {
    .footer .col-sm-4 {
        margin-bottom: 10px;
    }
}
