<footer class="footer">
    <div class="container text-center py-4 mask-custom ">
        <div class="row">
            <div class="col-sm-4">
                <ul class="list-unstyled">
                    <li><a class="footer-link" routerLink="/"><i class="bi bi-house-door"></i> Home</a></li>
                    <li><a class="footer-link" routerLink="/movies"><i class="bi bi-film"></i> Browse Movies</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <p>© 2024 Movie Planner. All rights reserved.</p>
                <div class="social-icons mt-3"> 
                    <a href="https://twitter.com/TuwaiqAcademy" class="footer-link"><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="https://www.youtube.com/channel/UC_pOwgeaVK7bg3z7fJB5N8w" class="footer-link"><i class="bi bi-youtube"></i></a>
                    <a href="https://github.com/RevanAlgh/Angular_Project" class="footer-link"><i class="bi bi-github"></i></a>
                    <a href="https://discord.gg/DWpUH7wFxj" class="footer-link"><i class="fa-brands fa-discord"></i></a>
                </div>
            </div>
            <div class="col-sm-4">
                <ul class="list-unstyled">
                    <li><a href="#" class="footer-link"><i class="bi bi-envelope"></i> Contact Us</a></li>
                    <li><a href="#" class="footer-link"><i class="bi bi-info-circle"></i> About Us</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
