<div class="container mt-4" *ngIf="movie">
    <div class="card mask-custom shadow-0 border-0">
        <div class="card-body p-4">
            <div class="row">
                <div class="col-md-4">
                    <img [src]="movie.Poster" alt="{{ movie.Title }} poster" class="img-fluid rounded" *ngIf="movie.Poster !== 'N/A'" />
                </div>
                <div class="col-md-8 text-white">
                    <h1 class="card-title">{{ movie.Title }} ({{ movie.Year }})</h1>
                    <p class="mt-5"><strong>Released :  </strong>{{ movie.Released }}</p>
                    <p><strong>Genre :  </strong> {{ movie.Genre }}</p>
                    <p><strong>Language :  </strong> {{ movie.Language }}</p>
                    <p><strong>IMDB Rating :  </strong> {{ movie.imdbRating }}</p>
                    <p><strong>Plot :  </strong>{{ movie.Plot }} </p>

                    <button class="btn mt-4" (click)="addToTaskList()">Add to Movie List</button>
                     <!-- Success Alert -->
                     <div *ngIf="showSuccessAlert" class="alert alert-success d-flex align-items-center mt-3 mask-custom" role="alert">
                        <i class="bi bi-check-circle-fill me-2"></i>
                        <div>Movie added to your Movie list!</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="error" class="alert alert-danger mt-4">{{ error }}</div>
