.container {
    max-width: 600px;
    padding-left: 0; 
    padding-right: 0; 
}

.row {
    margin-left: 0;
    margin-right: 0;
} 

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mask-custom {
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, .15);
}

.card {
    width: 130%;
}

#form-tagline {
    background-color: rgba(1, 29, 20, 0.623);
    padding: 30px; 
}

.large-white-icon {
    font-size: 2rem;
    color: white;
}

.btn {
    color: #fffcfc;
    font-family: "Acme", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin: 0 7px;
    padding: 8px 15px;
    border: 2px solid #000000;
    border-radius: 0;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    color: #043028;
    border: 2px solid #043028;
}

.btn:before,
.btn:after {
    content: "";
    width: 16px;
    height: 16px;
    border-style: solid;
    border-width: 2px 0 0 2px;
    border-color: #1b241f;
    position: absolute;
    top: -6px;
    left: -6px;
    transition: all 0.3s ease-in-out;
}

.btn:after {
    border-width: 0 2px 2px 0;
    top: auto;
    bottom: -6px;
    left: auto;
    right: -6px;
}

.btn:hover:before,
.btn:hover:after {
    width: calc(100% + 12px);
    height: calc(100% + 12px);
    border-color: #043028;
    transform: rotateY(180deg);
}

@media only screen and (max-width: 767px) {
    .btn {
        margin-bottom: 30px;
    }
}

<<<<<<< HEAD
.input-custom-color {
    background-color: rgba(255, 255, 255, .15);
}
=======
>>>>>>> ac71eea1b93d2326bb0d060963c4cdcdcf6ad1c3
